* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn-primary {
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: rgb(255, 111, 9);
    padding: 15px 25px;
    border-radius: 5px;

}

/* banner section */

.header-full {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
}

.banner-items {
    padding: 100px 230px 0px 800px;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
}

.banner-desc {
    font-size: 16px;
    color: #444343;
    margin: 24px 0px 32px;
}

/* failure section styles */
.failure-section {
    display: flex;
    gap: 87px;
    align-items: center;
}

.failure-section .failure-img {
    margin: 130px 0 130px 230px;
}

.failure-items {
    margin: 150px 280px 0 0;
}

.failure-title {
    font-size: 40px;
    font-weight: 700px;
}

.failure-desc {
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 16px;
}

.failure-desc-point {
    font-size: 16px;
    color: #444343;
    margin-bottom: 4px;
}

.fa-solid {
    color: rgb(69, 240, 120);
    margin-right: 5px;
}

/* plans section style */
.plan {
    margin: 50px 230px;
}

.plan-heading {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

.plan-items {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.plan-title {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 16px;
}

.plan-desc {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* banner positive section */
.banner-pos {
    width: 1140px;
    height: 300px;
    margin: 130px 230px;
    background-image: url(../images/watch.png), url(../images/gradient3.png);
    background-blend-mode: overlay;
}

.banner-pos-item {
    padding: 55px 617px 60px 64px;
}

.banner-pos-title {
    font-size: 40px;
    color: white;
    margin-bottom: 24px;
}

.banner-pos .btn-primary {
    background-color: #fff;
    color: rgb(255, 111, 9);
}

/* footer section */
.footer {
    background: #151414;
    color: white;
    display: flex;
}

.footer-future {
    width: 50%;
    margin: 130px 0 130px 230px;
}

.footer-sub {
    width: 50%;
    margin: 150px 230px;
}

.footer-future-title {
    font-size: 45px;
    margin-bottom: 24px;
}

.footer-desc {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

/* .footer-future li {
    display: inline-block;
    width: 50px;
    height: 50px;
} */

.footer-sub-title {
    font-weight: 600;
    font-size: 25px;
    color: white;
}

input {
    width: 325px;
    height: 50px;
    background-color: #151414;
    color: white;
    margin-top: 30px;
    margin-bottom: 16px;
    border: 1px solid #c9c7c7;;
    border-radius: 5px;
}
.footer-sub .btn-primary{
    background-color: #fff;
    color: rgb(255, 111, 9);
}